extends layout

block content
    .uk-container.uk-animation-scale-down
        form.uk-margin-large-top.uk-form-width-large.uk-margin-auto(action='/docs/upload' method='POST' enctype='multipart/form-data')
            .uk-margin.uk-text-center(uk-margin)
                div(uk-form-custom="target: true")
                    input(type='file' name='doc')
                    input.uk-input.uk-form-width-medium(type='text' placeholder="Select file" disabled)
                button.uk-button.uk-button-default Submit
            if good
                .uk-alert-success(uk-alert)
                    a.uk-alert-close(uk-close)
                    p= good
            if err
                .uk-alert-danger(uk-alert)
                    a.uk-alert-close(uk-close)
                    p= err