extends layout

block content
    .uk-container
        form.uk-margin-large-top.uk-animation-scale-down.uk-form-width-large.uk-margin-auto(method="post" action="/docs/upload")
            fieldset.uk-fieldset
                legend.uk-legend.uk-text-center Documents form
                    input.uk-input.uk-margin-top(type="text" name="title" placeholder="Title" )
                    textarea.uk-textarea.uk-margin-top(name="mainText" rows="5" placeholder="Type text here" style={resize:"none"})
                    button.uk-margin-top.uk-button.uk-button-primary(type="submit") Send
                if good
                    .uk-alert-success(uk-alert)
                        a.uk-alert-close(uk-close)
                        p= good
                if error
                    .uk-alert-danger(uk-alert)
                        a.uk-alert-close(uk-close)
                        p= err