extends layout

block content
    iframe(src='http://212.224.112.36:3000/' + doc style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder='0') This is an embedded 