extends layout

block content
    .uk-container
        if user
            .uk-cover-container.uk-height-medium
                iframe(width="1920" height="1080" frameborder="0" allowfullscreen uk-cover src="https://www.youtube-nocookie.com/embed/SkVqJ1SGeL0?autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent")
        else 
            div соси сука
                