doctype html
html
head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/css/uikit.min.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
body
    nav.uk-navbar-container(uk-navbar="mode: click")
        .uk-navbar-left 
            ul.uk-navbar-nav
                if user
                    li
                        a(href="#") Menu
                        .uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav        
                                li
                                    a(href="/") Main page 
                                li
                                    a(href="/docs/view") Documents
        if user
            .uk-navbar-right 
                ul.uk-navbar-nav
                    li
                        a= user
                    li
                        a(href="/users/logout") Logout
        else 
            .uk-navbar-right 
                    ul.uk-navbar-nav
                        li
                            a(href="/users/registration") Registration
                        li
                            a(href="/users/login") Login
    block content

script(src="/js/uikit.min.js")
